.gif {
    text-align: center;
    padding: 15px;
}

.gif img {
    object-fit: cover;
    width: 1200px;
    height: 400px;
}

.icones-cartao img {
    width: 350px;
    height: 500px;
    text-align: center;
    padding: 15px;
    display: inline-block;
    object-fit: cover;
}

.icones-cartao {
    text-align: center;
}

.banner img{
    width: 80px;
    height: 80px;
}

.banner{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html{
    scroll-behavior: smooth;
}